.setup {
  text-align: center;
  margin-bottom: 2rem;
}

#category, #start-btn {
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#timer, #score-display {
  font-weight: bold;
}
value{
    background-color: aquamarine;
}